/*
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/

#Pagina404 {
    background: url("../../images/error-404.svg") no-repeat center center #d18829;
    background-size: 50%;
    width: 100%;
    height: 100vh;
}

#Pagina404 h1{
    color: #4d2712;
    font-weight: 600;
    font-size: 30px;
    padding-top: 45%;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
