/*
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/

.fale-conosco input, #fale-conosco input{
    border: none;
    width: 100%;
}

.fale-conosco .btn{
    background-color: #4d2712;
    color: #fcc01c;
    border: none;
}

.fale-conosco textarea{
    height: 150px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
